<div class="container home-page">
  <div class="panel">
  	<h1 class="brand">
  	  Lina
  	</h1>
  	<p class="sub-brand">
  	  Rails 开发者零学习成本的 Restful API 框架.
  	</p>

    <ul>
    	<li>自动生成文档</li>
    	<li>零学习成本, 集成 Rails API 开发最佳实践</li>
    	<li>自动校验参数, 快速构建安全可靠的 API</li>
    </ul>
    <a class="github" href="https://github.com/windy/lina">
      <%= image_tag 'forkme.png' %>
    </a>
  </div>
  <div class="panel">
    <h1 class="brand">
      APIDOC 例子
    </h1>
    <p>
    Rails 开发者零学习成本的 Restful API 框架.
    </p>
  </div>

  <div class="panel">
    <h1 class="brand">
      安装
    </h1>
    <p>
    </p>
  </div>
</div>
