@import "bootstrap-sprockets";
@import "bootstrap";
@import 'home';

#lina-navbar {
  .brand-header {
    text-align: center;
  }
  .navbar-brand {
    float: none;
    padding: 0;
    height: 60px;

    img {
      height: 60px;
      display: inline;
    }
  }
}

body {
  background: image-url('background.jpeg');
  color: #666;
  font-family: 'lucida grande', sans-serif;
  font-size: 10.5pt;
  line-height: 1.6;
}
