.home-page {

  font-size: 16px;

  .panel {
    position: relative;
    background: #fcfcfc;
    padding: 10px 20px;
    border: none;

    .brand {
      color: #333;
      font-weight: 200;
    }

    .sub-brand {
      font-size: 22px;
      color: #666;
    }

    .img-inline {
      width: 100%;
      border: 1px solid #eee;
    }

    hr {
      margin: 50px 0;
    }

    h2 {
    }

    p {
      margin-bottom: 30px;
    }

  }

  a.github {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    opacity: 0.3;
    transition: opacity 200ms linear;
    &:hover {
      opacity: 0.8;
    }
  }
}
